/*
General styles first, page-specific styles noted. Nav styles at bottom.
-- Colors --
Green link hover: #036646 (taken from Daniele's Ahki logo green)
Gray section divider color: #ededed
Built by Peter Croce. pcroce.com
*/

h1 {
  font-family: 'Pacifico', cursive;
}
p, h2, h3, h4, label {
  color: #3d3d3d;
  font-family: 'Raleway', sans-serif;
}
body a, li {
  color: #3d3d3d;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}
body a:hover {
  color: #036646;
  text-decoration: none;
}
body a:visited {
  text-decoration: none;
}
.btn.btn-transparent {
  background-color: transparent;
  border: 1px solid #036646;
  color: #036646;
}
.btn.btn-transparent:hover {
  background-color: rgba(12, 12, 12, 0.15);
  border: 1px solid #036646;
  color: #036646;
}
img.ahkilogo, img.locallogo {
  height: 200px;
}
.header h4 {
  font-weight: 200;
}
.header {
  padding-bottom: 20px;
}
.jumbotron-transp {
  background-color: transparent;
}
.new-section {
  border-top: 1px solid #ededed;
  padding-bottom: 15px;
}
.mailchimp {
  padding: 40px 0px;
}

/* Home Page */
.thingslike, .contact {
  padding: 20px 0px;
}
.thingslike img {
  border-radius: 20px;
  border: 1px solid #ededed;
  padding: 5px;
}
.thingslike h3 {
  margin-bottom: 20px;
}
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center
}

/* Local Page */
div.local {
  position: relative;
  width: 100%; /* for IE 6 */
}
img.comingsoonlocal {
  width: 100%;
}
h2.comingsoonlocal {
  color: white;
  font-size: 4em;
  position: absolute;
  top: 27%;
  left: 0;
  width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h2.comingsoonlocal {
    font-size: 7em;
    top: 29%;
  }
}
@media only screen and (min-width: 1024px) {
  h2.comingsoonlocal {
    font-size: 10em;
    top: 29%;
  }
}


/* About Page */
.team > .row:first-child {
  padding-top: 30px;
}
.row > div {
  padding-bottom: 50px;
}
.team img {
  border-radius: 120px;
  border: 1px solid #ededed;
  padding: 5px;
}
.team .profile {
  color: gray;
}

/* Contact Page */
.google-maps {
  border: none;
  position: relative;
  padding-bottom: 50%; /* This is the aspect ratio */
  height: 0;
  margin-top: 0px;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
@media only screen and (min-width: 768px) {
  .google-maps {
    border: 1px solid #036646;
    padding-bottom: 50%; /* This is the aspect ratio */
    margin-top: 40px;
  }
  .google-maps iframe {
    width: 100% !important;
    height: 100% !important;
  }
}
.wufoo {
  padding: 30px;
}

/* Navbar
Nav gray color: 3d3d3d
Hover gold color: 036646
All transitions 0.3s */
.navbar {
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-family: Helvetica, sans-serif;
  margin-bottom: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}
@media only screen and (min-width:768px) {
  .navbar {
      background-color: rgba(250, 250, 250, 0.2);
  }
}
/* Fades in a white background when mobile navbar opens */
.navbar.navbar-active {
  background: rgba(250, 250, 250, 0.8);
  background: rgba(250, 250, 250, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}
/* custom center on mobile, spacing on desktop */
.navbar .navbar-collapse {
  text-align: center;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-nav li {
  margin-left: 130px;
}
.navbar .navbar-nav li:first-child {
  margin-left: 0px;
}
.collapse-active {
  text-align: center;
}
.collapse-active .navbar-nav li {
  margin-left: 0px;
}
.navbar .navbar-nav>li a,
.navbar .navbar-header a,
.navbar .navbar-header i {
  color: #3d3d3d;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}
.navbar .navbar-nav>li a:hover,
.navbar .navbar-nav>li a:focus,
.navbar .navbar-header a:hover,
.navbar .navbar-header a:focus,
.navbar .navbar-header i:hover,
.navbar .navbar-header i:focus {
  color: #036646;
  background-color: #ededed;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}
/* .navbar-toggle is the button, parent of the .icon-bar */
.navbar .navbar-toggle:hover > .icon-bar {
  background-color: #036646;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}
.navbar .navbar-toggle {
  border-color: transparent
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}
.navbar .navbar-toggle .icon-bar {
  background-color: #3d3d3d;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 22px
}
/* Add these classes to icon bars to animate X on mobile nav expand */
.navbar .navbar-toggle .icon-bar-top {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform-origin: 10% 10%;
  -webkit-transform-origin: 10% 10%
}
.navbar .navbar-toggle .icon-bar-middle {
  opacity: 0
}
.navbar .navbar-toggle .icon-bar-bottom {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform-origin: 10% 90%;
  -webkit-transform-origin: 10% 90%
}
.navbar .navbar-toggle.collapsed .icon-bar-top {
  transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0)
}
.navbar .navbar-toggle.collapsed .icon-bar-middle {
  opacity: 1
}
.navbar .navbar-toggle.collapsed .icon-bar-bottom {
  transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0)
}
footer {
  border-top: 1px solid #ededed;
  padding-top: 10px;
}
